:root {
    --blue :#C3DFE0;
    --white: #F1E9DA;
    --darkblue: #102E4A;
}

body{
    background-color: var(--darkblue);
}

header {
    background-color: var(--darkblue);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 25px;
}

h1 {
    align-self: center;
    margin-left: 40px;
    color: var(--blue);
    font-family: "Roboto Slab";
}

header img{
    margin-left: 100px;
    padding-top: 20px;
}

nav ul li {
    display: inline-block;
    margin: 25px;
}

nav ul a {
    color: var(--blue);
    font-family: "Roboto Slab"
}

.about-me {
    height: 175px;
    display: flex;
    background-color: var(--white);
}

.about-me h2 {
    align-self: center;
    width: 28%;
    margin-left: 2%;
    color: var(--darkblue);
    font-family: "Roboto Slab"
}

.about-me p {
    align-self: center;
    margin-right: 2%;
    color: var(--darkblue);
    text-align: center;
    background-color: var(--blue);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Roboto Slab"
}

.portfolio {
    background-color: var(--blue);
    display:flex;
    height: 500px;
}

.portfolio h2 {
    align-self:center;
    display:inline-block;
    margin-left: 2%;
    width: 28%;
    color: var(--darkblue);
    font-family: "Roboto Slab"
}

h3 {
    font-family: "Roboto Slab";
    color: var(--darkblue);
    text-align: center;
    margin-top: 35px;
}

.project-image {
    width: 600px;
    position:relative;
    border: 15px solid var(--darkblue);
    background-color: var(--darkblue);
    margin-right: 5%;
    margin-top: 45px;
}

.project-image p {
    position: absolute;
    bottom: -13px;
    left: 0px;
    background-color: var(--blue);
    font-weight: 700;
    padding: 20px;
    font-family: "Roboto Slab";
}

.contact {
    background-color: var(--darkblue);
    height: 100px;
    display:flex;
}

.contact ul {
    margin-top: 45px;
    width: 100%;
    display:flex;
    list-style: none;
}

.contact ul li {
    justify-content: space-between;
    margin: 150px;
    align-self: center;
    color: var(--blue);
    font-family: "Roboto Slab";
    text-decoration: underline;
}

.contact ul a {
    color: var(--blue);
    font-family: "Roboto Slab"
}

@media only screen and (max-width: 600px){
 
 
 header{
    flex-wrap: wrap;
    height: 250px;
 }

 nav ul li {
    margin: 35px;
 }

.about-me p{
    width: 350px;
    margin-right: 5%;
 }

 .portfolio {
    height: 350px;
 }

 .project-image {
    width: 300px;
    margin-right: 10px;
    margin-top: 25px;
 }

 .project-image p {
    padding: 10px;
 }

 .contact {
    height: 150px;
 }
 
 .contact ul li {
    margin: 30px;
 }
}



